<!DOCTYPE html>

<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
    <title>Add Test Word- Flash Language</title>
</head>
<body>

<!--navigation bar-->
<ul id="nav">
    <li><a href="/">Flash Language</a></li>
    <li><a href="/About">About</a></li>
    <li><a href="/Contact">Contact</a></li>
    <li><a href="/Italian">Italian</a></li>
    <li><a href="/French">French</a></li>
    {% if user %}
        <li><a href="{{ logout_url }}">Logout</a></li>
    {% else %}
        <li><a href="{{ login_url }}">Login</a></li>
    {% endif %}
    <li><a href="/TeachersHub">Admin</a></li>
</ul>
<style>

    h1, h2, h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .button {
        width: 150px;
        height: 50px;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }


</style>

<h1>Teachers Hub</h1>

<h3>Create Test</h3>

<p>&nbsp;</p>

<p>{{ message }}</p>

<b>Finish and Create</b>

<form method="post" action="/AddTestWord">
    <input ID="button" name="completeTest" type="submit" value="Complete">
</form>

<p>&nbsp;</p>
<b>Add word (case sensitive)</b>

<form method="post" action="/AddTestWord" enctype="multipart/form-data">
    <input type="text" name="EnglishWord" required>
    <br>
    <input ID="button" type="submit" value="Add">
</form>
<table id="resultTable">
    <tr>
        <th>English Word</th>
        <th>Translation</th>
    </tr>

    {% for word in word_list %}
        <tr>
            <td>
                {{ word }}
            </td>
            <td>
                {{ translated_list.pop() }}
            </td>
        </tr>
    {% endfor %}

</table>

<!--footer-->
<hr/>
<footer>
    <p id="footer">&copy; 2014 - Flash Language</p>
</footer>


</body>
</html>
