<!DOCTYPE html>

<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
    <title>Course Code - Flash Language</title>
</head>
<body>

<!--navigation bar-->
<ul id="nav">
    <li><a href="/">Flash Language</a></li>
    <li><a href="/About">About</a></li>
    <li><a href="/Contact">Contact</a></li>
    <li><a href="/Italian">Italian</a></li>
    <li><a href="/French">French</a></li>
    {% if user %}
        <li><a href="{{ logout_url }}">Logout</a></li>
    {% else %}
        <li><a href="{{ login_url }}">Login</a></li>
    {% endif %}
    <li><a href="/TeachersHub">Admin</a></li>

</ul>
<style>

    h1, h2, h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .button2 {
        width: 25px;
        height: 10px;
    }


</style>


<h1>Teachers Hub</h1>

<h3>Change Course Codes</h3>

<p>Warning: Changing a course code removes all students from that course!</p>

<p>&nbsp;</p>

<p>{{ message }}</p>

<form method="post" enctype="multipart/form-data">

    <b>Language</b>
    <br>
    <select name="LanguageName">
        {% for language in languages %}
            <option value="{{ language.languageName }}">{{ language.languageName }}</option>
        {% endfor %}
    </select>

    <p>&nbsp;</p>

    <b>New Course Code</b>
    <br>
    <input type="text" name="newCourseCode" required>

    <p>&nbsp;</p>
    <input ID="button" type="submit" value="Update" onclick="return confirm('Are you sure you want to delete?')">
</form>
<!--footer-->
<hr/>
<footer>
    <p id="footer">&copy; 2014 - Flash Language</p>
</footer>


</body>
</html>
