<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
    <title>Contact - Flash Language</title>
</head>
<body>


<!--navigation bar-->
<ul id="nav">
    <li><a href="/">Flash Language</a></li>
    <li><a href="/About">About</a></li>
    <li><a href="/Contact">Contact</a></li>
    <li><a href="/Italian">Italian</a></li>
    <li><a href="/French">French</a></li>
    {% if user %}
        <li><a href="{{ logout_url }}">Logout</a></li>
    {% else %}
        <li><a href="{{ login_url }}">Login</a></li>
    {% endif %}
</ul>


<h2>Contact.</h2>

<h3>Andrew Quizi</h3>
<address>
    Creater, Desginer, Programmer<br/>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:andquizi@gmail.com">andquizi@gmail.com</a><br/>
</address>
<p>&nbsp;</p>
<!--footer-->
<hr/>
<footer>
    <p id="footer">&copy; 2014 - Flash Language</p>
</footer>
</body>
</html>