<!DOCTYPE html>

<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
    <title>Create Test - Flash Language</title>
</head>
<body>

<!--navigation bar-->
<ul id="nav">
    <li><a href="/">Flash Language</a></li>
    <li><a href="/About">About</a></li>
    <li><a href="/Contact">Contact</a></li>
    <li><a href="/Italian">Italian</a></li>
    <li><a href="/French">French</a></li>
    {% if user %}
        <li><a href="{{ logout_url }}">Logout</a></li>
    {% else %}
        <li><a href="{{ login_url }}">Login</a></li>
    {% endif %}
</ul>
<style>

    h1, h2, h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }
    .button {
            width: 150px;
            height: 50px;
        }


</style>


<h1>Teachers Hub</h1>
<h3>Create Test</h3>
<p>&nbsp;</p>
<p>{{ message }}</p>

<form method="post" enctype="multipart/form-data">

<b>Language</b>
<br>
<select name="LanguageName">
  {% for language in languages %}
      <option value="{{ language.languageName }}">{{ language.languageName }}</option>
  {% endfor %}
</select>
<p>&nbsp;</p>

<b>Test Name</b>
<br>
<input type="text" name="TestName" required>
<p>&nbsp;</p>

<b>Start Date</b>
<br>
<input type="datetime-local" name="StartDate" required>
<p>&nbsp;</p>

<b>End Date</b>
<br>
<input type="datetime-local" name="EndDate" required>
<p>&nbsp;</p>

<b>Attempts</b>
<br>
<input type="number" name="Attempts" min="1" required>
<p>&nbsp;</p>

<input ID="button" type="submit" value="Continue">
</form>

<!--footer-->
<hr/>
<footer>
    <p id="footer">&copy; 2014 - Flash Language</p>
</footer>


</body>
</html>
