<!DOCTYPE html>

<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
    <title>Flash Language Home - Flash Language</title>
</head>
<body>

<!--navigation bar-->
<ul id="nav">
    <li><a href="/">Flash Language</a></li>
    <li><a href="/About">About</a></li>
    <li><a href="/Contact">Contact</a></li>
    <li><a href="/Italian">Italian</a></li>
    <li><a href="/French">French</a></li>
    {% if user %}
        <li><a href="{{ logout_url }}">Logout</a></li>
    {% else %}
        <li><a href="{{ login_url }}">Login</a></li>
    {% endif %}
    {% if admin %}
        <li><a href="/TeachersHub">Admin</a></li>
    {% endif %}

</ul>
<style>

    h1, h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }


</style>

<h1>Welcome to Flash Language!</h1>

<p>Choose a language and lets get started on your vocabulary!</p>

<p>&nbsp;</p>

<div class="nav3" style="height: 300px; text-align: center">
    <a href="/Italian" title="Italian">
        <img src="/images/italian_symbol.jpg"></a>
    <a href="/French" title="French">
        <img src="/images/french_symbol.jpg"></a>
</div>

<h2 class="text-center">A convenient and simple language learning tool</h2>

<!--footer-->
<hr/>
<footer>
    <p id="footer">&copy; 2014 - Flash Language</p>
</footer>


</body>
</html>
