<!DOCTYPE html>

<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
    <title>Extract Marks - Flash Language</title>
</head>
<body>

<!--navigation bar-->
<ul id="nav">
    <li><a href="/">Flash Language</a></li>
    <li><a href="/About">About</a></li>
    <li><a href="/Contact">Contact</a></li>
    <li><a href="/Italian">Italian</a></li>
    <li><a href="/French">French</a></li>
    {% if user %}
        <li><a href="{{ logout_url }}">Logout</a></li>
    {% else %}
        <li><a href="{{ login_url }}">Login</a></li>
    {% endif %}
    <li><a href="/TeachersHub">Admin</a></li>
</ul>
<style>

    h1, h2, h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .button2 {
        width: 25px;
        height: 10px;
    }

    th, td {
        padding: 15px;
        text-align: center;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }


</style>


<h1>Teachers Hub</h1>

<h3>Extract Marks</h3>

<p>&nbsp;</p>

<p>{{ message }}</p>

<form method="post" enctype="multipart/form-data">

    <b>Italian</b>
    <br>
    <select name="testNameItalian">
        {% for test in italian_tests %}
            <option value="{{ test.testName }}">{{ test.testName }}</option>
        {% endfor %}
    </select>
    <br>
    <input ID="button2" type="submit" name="extractItalian" value="Extract Italian Marks">

    <p>&nbsp;</p>
    <b>French</b>
    <br>
    <select name="testNameFrench">
        {% for test in french_tests %}
            <option value="{{ test.testName }}">{{ test.testName }}</option>
        {% endfor %}
    </select>
    <br>
    <input ID="button2" type="submit" name="extractFrench" value="Extract French Marks">
</form>
<table id="resultTable">
    <tr>
        <th>Email</th>
        <th>Attempts</th>
        <th>Final Score</th>
    </tr>

    {% for mark in marks %}
        <tr>
            <td>
                {{ mark.studentID.email() }}
            </td>
            <td>
                {{ mark.attempts }}
            </td>
            <td>
                {{ mark.score }}/{{ questions }}
            </td>
        </tr>

    {% endfor %}
</table>
<!--footer-->
<hr/>
<footer>
    <p id="footer">&copy; 2014 - Flash Language</p>
</footer>


</body>
</html>
