<!DOCTYPE html>

<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
    <title>French - Flash Language</title>
</head>
<body>

<!--navigation bar-->
<ul id="nav">
    <li><a href="/">Flash Language</a></li>
    <li><a href="/About">About</a></li>
    <li><a href="/Contact">Contact</a></li>
    <li><a href="/Italian">Italian</a></li>
    <li><a href="/French">French</a></li>
    {% if user %}
        <li><a href="{{ logout_url }}">Logout</a></li>
    {% else %}
        <li><a href="{{ login_url }}">Login</a></li>
    {% endif %}
</ul>

<style>
    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }


</style>


<h1>French</h1>

<p>Bienvenue à la langue française!</p>

<p>&nbsp;</p>

<div class="form-group" style="text-align:center;">
    <form action="/PractiseIntro">
        <input id="button" type="submit" value="Practise">
    </form>
    <p>&nbsp;</p>

    <form action="/TestIntro">
        <input id="button" type="submit" value="Test">
    </form>
</div>

<!--footer-->
<hr/>
<footer>
    <p id="footer">&copy; 2014 - Flash Language</p>
</footer>


</body>
</html>
