<!DOCTYPE html>

<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
    <title>French - Flash Language</title>
</head>
<body>

<!--navigation bar-->
<ul id="nav">
    <li><a href="/">Flash Language</a></li>
    <li><a href="/About">About</a></li>
    <li><a href="/Contact">Contact</a></li>
    <li><a href="/Italian">Italian</a></li>
    <li><a href="/French">French</a></li>
    <li><a href="#">Register</a></li>
    <li><a href="#">Login</a></li>
</ul>

<style>
    h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        #button2 {
            width: 150px;
            height: 40px;
        }

        th, td {
            padding: 15px;
            text-align: center;
        }
        table {
             margin-left: auto;
            margin-right: auto;
        }

</style>


<h1>Practise Results</h1>

<p>Score={{ score }}/{{ questionNumber }}</p>

<!--Finish and try again button-->
<div align="center">
    <table style="text-align: center;" cellpadding="20">
        <tr>
            <td>
                <form action="/Italian">
                    <input id="button2" type="submit" value="Finish">
                </form>
            <td>
                <form action="/PractiseIntro">
                    <input id="button2" type="submit" value="Try Again">
                </form>
        </tr>
    </table>
</div>


            <table id="resultTable">
                <tr>
                <th>Question #</th>
                <th>Word</th>
                <th>Your Answer</th>
                <th>Correct Answer</th>
            </tr>



            {% for result in results %}
              <tr >
                <td>
                  {{ result.questionNumber }}
                </td>
                <td>
                    {{ result.word }}
                </td>
                <td>
                   {{ result.userAnswer }}
                </td>
                <td>
                   {{ result.correctAnswer }}
                </td>
              </tr>
            {% endfor %}
            {% if answer %}
            <tr >
                <td>
                  {{ questionNumber }}
                </td>
                <td>
                    {{ answer }}
                </td>
                <td>
                   {{ choice }}
                </td>
                <td>
                   {{ prevWord }}
                </td>
              </tr>
            {% endif %}
       </table>


<!--footer-->
<hr/>
<footer>
    <p id="footer">&copy; 2014 - Flash Language</p>
</footer>


</body>
</html>
