<!DOCTYPE html>

<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
    <title>Teachers Hub - Flash Language</title>
</head>
<body>

<!--navigation bar-->
<ul id="nav">
    <li><a href="/">Flash Language</a></li>
    <li><a href="/About">About</a></li>
    <li><a href="/Contact">Contact</a></li>
    <li><a href="/Italian">Italian</a></li>
    <li><a href="/French">French</a></li>
    {% if user %}
        <li><a href="{{ logout_url }}">Logout</a></li>
    {% else %}
        <li><a href="{{ login_url }}">Login</a></li>
    {% endif %}
    <li><a href="/TeachersHub">Admin</a></li>
</ul>
<style>

    h1, h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }


</style>

<h1>Teachers Hub</h1>

<p>&nbsp;</p>

<div class="form-group" style="text-align: center;">

    <form action="/WordPage" method="get">
        <input id="button" name="addWord" type="submit" value="Add Word">
    </form>
    <p>&nbsp;</p>

    <form action="/ManageTests" method="get">
        <input id="button" name="manageTests" type="submit" value="Manage Tests">
    </form>
    <p>&nbsp;</p>

    <form action="/ExtractMarks" method="get">
        <input id="button" name="extractMarks" type="submit" value="Extract Marks">
    </form>
    <p>&nbsp;</p>

    <form action="/ChangeCourseCode" method="get">
        <input id="button" name="setCourseCode" type="submit" value="Set Course Code">
    </form>

</div>


<!--footer-->
<hr/>
<footer>
    <p id="footer">&copy; 2014 - Flash Language</p>
</footer>


</body>
</html>
