<!DOCTYPE html>

<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
    <title>Practise - Flash Language</title>
</head>
<body>

<!--navigation bar-->
<ul id="nav">
    <li><a href="/">Flash Language</a></li>
    <li><a href="/About">About</a></li>
    <li><a href="/Contact">Contact</a></li>
    <li><a href="/Italian">Italian</a></li>
    <li><a href="/French">French</a></li>
    <li><a href="#">Register</a></li>
    <li><a href="#">Login</a></li>
</ul>

<style>
    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }


</style>

<h1>{{ language }}</h1>

<p>Tests</p>

<p>&nbsp;</p>
<p>{{ message }}</p>
{% if user %}
    <p>
    <div class="form-group" style="text-align: center;">
        You can <a href="{{ logout_url }}">sign out</a>
    </div>
    </p>

    {% for test in tests %}

        <b>{{ test.testName }}</b>


    {% endfor %}



{% else %}
    <p>
        You must be signed in.
    </p>

    <p>
        <a href="{{ login_url }}">Sign in or register</a> with your google account here.
    </p>
{% endif %}



<!--footer-->
<hr/>
<footer>
    <p id="footer">&copy; 2014 - Flash Language</p>
</footer>


</body>
</html>
