<!DOCTYPE html>

<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
    <title>Practise - Flash Language</title>
</head>
<body>

<!--navigation bar-->
<ul id="nav">
    <li><a href="/">Flash Language</a></li>
    <li><a href="/About">About</a></li>
    <li><a href="/Contact">Contact</a></li>
    <li><a href="/Italian">Italian</a></li>
    <li><a href="/French">French</a></li>
    {% if user %}
    <li><a href="{{ logout_url }}">Logout</a></li>
    {% else %}
    <li><a href="{{ login_url }}">Login</a></li>
    {% endif %}
</ul>

<style>
    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .button {
        width: 150px;
        height: 50px;
    }

    th, td {
        padding: 15px;
        text-align: center;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }


</style>

<h1>{{ language }}</h1>

<p>Tests</p>

<p>&nbsp;</p>

<p>{{ message }}</p>

{% if user %}

    <table id="resultTable">
        <tr>
            <th>Test Name</th>
            <th>Attempts</th>
            <th>End Date</th>
        </tr>
        {% for test in tests %}

            <tr>
                <td>
                    <form action="/TestPage" method="post">
                        <input id="button" name="testChoice" type="submit" value="{{ test.testName }}">
                    </form>
                </td>
                <td>
                    {{ attempts.pop() }}/{{ test.attempts }}
                </td>
                <td>
                    {{ test.endDate }}
                </td>
            </tr>

        {% endfor %}

    </table>


{% else %}
    <p>
        You must be signed in.
    </p>

    <p>
        <a href="{{ login_url }}">Sign in or register</a> with your google account here.
    </p>
{% endif %}



<!--footer-->
<hr/>
<footer>
    <p id="footer">&copy; 2014 - Flash Language</p>
</footer>


</body>
</html>
